html, body {height: 100%;}
html {
	font-size: 62.5%;
	@media screen and (max-width: 1024px) {
		//font-size: 71.4228%;
	}
}
body {
	background: $base-bg;
	color: $main-color;
	font-family: $base-font-family;
	font-size: $base-font-size;
	line-height: 1.7rem;
	box-sizing: border-box;
}

button,
select,  
label[for], 
input[type='submit'], 
input[type='image']{
	color: inherit;
  cursor: pointer;		
	outline: none !important;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type='number'] {
  -moz-appearance: textfield;
}
input::-ms-clear {
  display: none;
}

:disabled, [disabled], [aria-disabled="true"] {
	cursor: not-allowed;
}

a {
	color: inherit;
	padding-bottom: .7rem;
	position: relative;
	text-decoration: none;
	transition: $default-transition;
	&:hover {text-decoration: none;}
	&:focus {
		color: inherit;
		outline: none;
		text-decoration: none;
	}
	&:after {
		background: #FDDC3E;
		content: '';
		height: 2px;
		position: absolute;
		left: 0;
		right: 0;
		width: 0;
		bottom: 0;
		transition: $default-transition;
		margin: auto;
	}
	&:hover:after {
		width: 100%;
	}
}//a

strong {font-weight: 700;}
b {font-weight: 600;}
input, select, button, textarea {
	font: inherit;
	outline: none;
}
img {
	height: auto;
	max-width: 100%;
}

/*** PRE-DEFINED CLASSES ***/
.inline {display: inline-block;}
.hidden {display: none;}
.disabled {pointer-events: none;}
.clearfix:after {
	content: "";
	display: table;
	clear: both;
}