.main-wrapper{
	padding: 0;
	min-width: $min-width;
	position: relative;
	overflow: hidden;
	min-height:100%;
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	width: 100%;
}
.wrapper{
	min-width: $min-width;
	max-width: $max-width;
	padding: 0 2rem;
	margin: 0 auto;
	position: relative;
}


/* text position */
.text-left {text-align: left!important}
.text-center {text-align: center!important}
.text-right {text-align: right!important}
.nowrap {white-space: nowrap!important;}


/* loader */
.loaded .main-wrapper{visibility: hidden;}
.icon-load {
	background: url(../img/loader.gif) no-repeat left top;
	display: none;
	height: 4rem;
	left: 50%;
	margin-left: -2rem;
	position: fixed;
	top: 50%;
	width: 4rem;
}
.loaded .icon-load{display:block;}


.content{
	flex-grow: 1;
	min-width: $min-width;
	order: 2;
	padding-bottom: 20rem;
	text-align: left;
  width: 100%;
	@media screen and (max-width: 425px) {
		padding-bottom: 10rem;
	}
}

.title {
	font-family: $custom-font-family;
	font-size: 6rem;
	font-weight: bold;
	line-height: normal;
	margin-bottom: 5rem;
	text-align: center;
	@media screen and (max-width: 320px) {
		font-size: 4rem;
	}
}
.description {
	font-size: 2.4rem;
	line-height: normal;
	max-width: 77rem;
	margin: auto;
}

.section-hero {
	border-bottom: 1px solid #EBEBEB;
	margin-bottom: 7.5rem;
	padding-bottom: 14rem;
	@media screen and (max-width: 425px) {
		margin-bottom: 5.5rem;
		padding-bottom: 7rem;
	}
}//.section-hero

.section-personal-info {
	display: flex;
	justify-content: space-between;
	margin-bottom: 3rem;
	@media screen and (max-width: 600px) {
		flex-direction: column;
	}
	.left,
	.right {
		max-width: 45rem;
		width: 48.9130%;
		@media screen and (max-width: 600px) {
			max-width: 100%;
			width: 100%;
		}
	}
	input, textarea {
		display: block;
		margin-top: 2.2rem;
	}
	.form-group {
		margin-bottom: 3rem;
	}
}//.section-personal-info


.section-education {
	margin-bottom: 6rem;
	.radio {
		display: inline-block;
		margin-right: 4rem;
	}
}//.section-education


.section-skills {
	margin-bottom: 8rem;
	@media screen and (max-width: 425px) {
		margin-bottom: 5rem;
	}
	p {
		color: #979797;
		font-size: 1.2rem;
		margin-bottom: 3.7rem;
		sup {vertical-align: middle;}
	}
	.skills-list {
		list-style: none;
		columns: 2;
		@media screen and (max-width: 425px) {
			columns: unset;
		}
		li {
			display: inline-block;
			margin-bottom: 3.5rem;
			width: 100%;
			@media screen and (max-width: 320px) {
				margin-bottom: 1.5rem;
			}
		}//li

	}//.skills-list
}//.section-skills