footer{
	background: #000 url(../img/footer_bg.jpg) center no-repeat;
	height: $footerHeight;
	color: #fff;
	font-family: $custom-font-family;
	font-weight: bold;
	font-size: 4rem;
	display: flex;
	align-items: center;
	justify-content: center;
	min-width: $min-width;
	order: 3;
	position: relative;
	width: 100%;
	line-height: 5.2rem;
	text-align: center;
	.wrapper {
		max-width: 65rem;
	}
}//footer

