form {

  label {
    font-weight: 500;
  }
  input[type="text"],
  input[type="email"],
  textarea  {
    border: 1px solid #DCDCDC;
    height: 5rem;
    font-size: 1.4rem;
    padding: .5rem 1.2rem;
    width: 100%;
  }
  textarea {
    height: 16.9rem;
  }

  .radio {
    height: 3.5rem;
    letter-spacing: 1.4px;
    line-height: 3.5rem;
    input[type="radio"] {
      display: none;
      &:checked + label:after {
        opacity: 1;
      }
    }
    label {
      color: #4E4E4E;
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      padding-left: 5.5rem;
      position: relative;
      white-space: nowrap;
      &:before {
        border: 1px solid #DCDCDC;
        border-radius: 50%;
        content: '';
        position: absolute;
        height: 3.5rem;
        left: 0;
        width: 3.5rem;
      }
      &:after {
        background: #4D4D4D;
        border-radius: 50%;
        content: '';
        opacity: 0;
        position: absolute;
        left: 1.1rem;
        top: 0;
        bottom: 0;
        height: 1.4rem;
        width: 1.4rem;
        margin: auto;
        transition: $default-transition;
      }
    }
  }//.radio

  .checkbox {

    input[type="checkbox"] {
      display: none;
      &:checked + label {
        &:before {
          content: '\e900';
        }
        &:after {left: 39px;}
      }//&:checked + label
    }//input[type="checkbox"]

    label {
      color: #4D4D4D;
      display: block;
      line-height: normal;
      padding: 1rem 0 1rem 6.5rem;
      position: relative;
      &:before {
        background: #fff;
        border: 1px solid #DCDCDC;
        bottom: 0;
        content: '';
        height: 39px;
        left: 0;
        margin: auto;
        padding-top: 1rem;
        position: absolute;
        text-align: center;
        top: 0;
        transition: $default-transition;
        width: 39px;

        font-family: 'adyax' !important;
        font-style: normal;
        font-weight: normal;
        font-variant: normal;
        text-transform: none;
        line-height: 1;
      }
    }//label

  }//.checkbox

}//form

.fileform {
  background-color: #fff;
  border: 1px solid #DCDCDC;
  cursor: pointer;
  height: 5rem;
  margin-top: 2.2rem;
  overflow: hidden;
  padding: .5rem 1.2rem;
  position: relative;
  text-align: left;
  vertical-align: middle;
  #fileformlabel {
    background-color: #fff;
    font-size: 1.4rem;
    color: #4E4E4E;
    line-height: 4rem;
    float: left;
    overflow: hidden;
    text-align: left;
    vertical-align: middle;
  }
  .selectbutton {
    background-color: #A2A3A3;
    border: 1px solid #939494;
    border-radius: 2px;
    color: #fff;
    float: right;
    font-size: 16px;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    padding: 2px 6px;
    text-align: center;
    vertical-align: middle;
    width: 50px;
  }
  #upload {
    height: 100%;
    left: 0;
    margin: 0;
    -moz-opacity: 0;
    filter: alpha(opacity=0);
    opacity: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 20;
  }
}//.fileform